body {
    min-height: 100vh;
    background: linear-gradient(135deg, $blue-light, $blue-dark);
    color: $white;
    text-shadow: 1px 1px 0 #212121;
    font-family: 'Spectral', serif;
    overflow: hidden;
    overflow-y: scroll;

}

h1,
h2,
h3,
h4 {
    margin: 0;
}

ul.weather__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    margin: 0;
}

p {
    margin: 0;
}