 $white: #ffffff;
 $off-white: #e5e5e5;
 $transp-white-1: rgba(255, 255, 255, 0.25);
 $transp-white-2: rgba(255, 255, 255, 0.1);
 $blue-light: #62b8f5;
 $blue-dark: #4475ef;
 $shadow: rgba(3, 46, 87, 0.2);